<div class="container">
  <h1>Asset Creation Form</h1>
  <form novalidate [formGroup]="assetCreation" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="assetdes">Asset Desc</label>
      <input 
      type="text" 
      class="form-control" 
      id="assetdes" 
      name="assetdes" 
      formControlName="assetdes"
      placeholder="Asset Desc">
    </div>
    <div class="form-group">
      <label for="equipmentcode">Equipment Code</label>
      <input 
      type="text"
      class="form-control"
      id="equipmentcode"
      name="equipmentcode"
      formControlName="equipmentcode"
      placeholder="Equipment Code"
      >
    </div>
    <div class="form-group">
      <label for="installationdate">Installation Date</label>
      <input 
      type="date"
      class="form-control"
      id="installationdate"
      name="installationdate"
      formControlName="installationdate"
      placeholder="installation date"
      >
    </div>
    <div class="form-group">
      <label for="siteid">Select Site</label>
      <select 
      name="siteid" 
      id="siteid"
      class="form-control"
      formControlName="siteid" >
      <option *ngFor="let site of sites" [value]="site">{{site}}</option>
    </select>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select 
      name="status" 
      id="status"
      class="form-control"
      formControlName="status">
      <option *ngFor="let status of status" [value]="status">{{status}}</option>
    </select>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <select 
      name="location" 
      id="location"
      class="form-control"
      formControlName="location">
      <option *ngFor="let location of locations" [value]="location">{{location}}</option>
    </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>